body {
}

h1, h2 {
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	font-size: 22px;
	margin-top: 24px;
}

p {
	font-size: 16px;
	max-width: 500px;
}

.wrapper {
	margin: 0 auto;
	padding: 15px;
}

.navbar-nav>li>a.icon-wrapper {
	padding-top: 10px;
	padding-bottom: 5px;
}

@media (min-width: 1000px) {

	.container-fluid, .wrapper {
		width: 1000px;
	}
}